In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import random

In [ ]:
dfwindow = pd.DataFrame({
    'A': np.random.randn(10),
    'B': np.random.randn(10),
})

print(dfwindow['A'])
print(' ')

print(dfwindow['A'].rolling(window=3).mean())

0   -0.899528
1    1.639692
2    0.352538
3   -0.344307
4   -0.105408
5    1.819229
6   -1.114811
7   -0.541533
8    0.549790
9    0.366132
Name: A, dtype: float64

0         NaN
1         NaN
2    0.364234
3    0.549308
4   -0.032392
5    0.456504
6    0.199670
7    0.054295
8   -0.368851
9    0.124797
Name: A, dtype: float64

In [ ]:
dfCat = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar'],
    'B': ['small', 'large', 'small', 'large'],
})

dfCat['A'] = dfCat['A'].astype('category')
dfCat['B'] = dfCat['B'].astype('category')

print(dfCat.sort_values(by=['A','B'],ascending=False))

     A      B
0  foo  small
2  foo  small
1  bar  large
3  bar  large

In [ ]:
# prompt: generate data of 5 people

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 28, 22, 35],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago
3    David   22      Houston
4    Emily   35        Miami

##CSV FILE

In [ ]:
df=pd.read_csv('c_complex_data.csv')
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,Unknown,F,60000.0,Unknown,USA,Manager,NaN,4567890123
1,David White,28,F,70000.0,456 Elm St,NaN,Clerk,?,123-456-7890
2,Michael Brown,Twenty-five,F,70000.0,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,Unknown,M,45000.0,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,Unknown,F,NaN,456 Elm St,Australia,Intern,?,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.0,123 Main St,Canada,Developer,Unknown,567-890-1234
246,Eve Davis,Twenty-five,F,NaN,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.0,123 Main St,NaN,Clerk,?,123-456-7890
248,Michael Brown,Twenty-five,M,55000.0,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.0,123 Main St,UK,Clerk,Unknown,(345) 678-9012

In [ ]:
df.head()

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,Unknown,F,60000.0,Unknown,USA,Manager,NaN,4567890123
1,David White,28,F,70000.0,456 Elm St,NaN,Clerk,?,123-456-7890
2,Michael Brown,Twenty-five,F,70000.0,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,Unknown,M,45000.0,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,Unknown,F,NaN,456 Elm St,Australia,Intern,?,234-567-8901

In [ ]:
df.dtypes

Name             object
Age              object
Gender           object
Salary          float64
Address          object
Country          object
Position         object
Garbage          object
Phone Number     object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          250 non-null    object
 1   Age           221 non-null    object
 2   Gender        250 non-null    object
 3   Salary        185 non-null    float64
 4   Address       197 non-null    object
 5   Country       205 non-null    object
 6   Position      250 non-null    object
 7   Garbage       103 non-null    object
 8   Phone Number  178 non-null    object
dtypes: float64(1), object(8)
memory usage: 17.7+ KB

In [ ]:
df.describe()

              Salary
count     185.000000
mean    66216.216216
std     25452.572193
min     45000.000000
25%     50000.000000
50%     55000.000000
75%     70000.000000
max    120000.000000

In [ ]:
df['Name'].unique()

array(['Michael Brown', 'David White', 'John Doe', 'Sophia Martinez',
       'Alice Smith', 'Eve Davis', 'Laura Wilson', 'Emma Thomas',
       'Bob Johnson', 'James Anderson'], dtype=object)

In [ ]:
df['Name'].nunique()

10

In [ ]:
df.columns

Index(['Name', 'Age', 'Gender', 'Salary', 'Address', 'Country', 'Position',
       'Garbage', 'Phone Number'],
      dtype='object')

In [ ]:
for i in df.columns:
  print(i,df[i].unique())
  print('---------------------')

Name ['Michael Brown' 'David White' 'John Doe' 'Sophia Martinez' 'Alice Smith'
 'Eve Davis' 'Laura Wilson' 'Emma Thomas' 'Bob Johnson' 'James Anderson']
---------------------
Age ['Unknown' '28' 'Twenty-five' '40' '25' '30' nan '35']
---------------------
Gender ['F' 'M']
---------------------
Salary [ 60000.  70000.  45000.     nan 120000.  55000.  50000.]
---------------------
Address ['Unknown' '456 Elm St' '123 Main St' '789 Oak Ave' nan '222 Pine St']
---------------------
Country ['USA' nan 'Canada' 'Australia' 'UK']
---------------------
Position ['Manager' 'Clerk' 'Intern' 'Developer' 'Analyst']
---------------------
Garbage [nan '?' 'Unknown']
---------------------
Phone Number ['4567890123' '123-456-7890' nan '234-567-8901' '(345) 678-9012'
 '567-890-1234']
---------------------

In [ ]:
df.isnull().sum()

Name              0
Age              29
Gender            0
Salary           65
Address          53
Country          45
Position          0
Garbage         147
Phone Number     72
dtype: int64

In [ ]:
df.replace(['?','N/A','Unknown','NaN',''],np.nan, inplace=True)

In [ ]:
for i in df.columns:
  print(i,df[i].unique())
  print('---------------------')

Name ['Michael Brown' 'David White' 'John Doe' 'Sophia Martinez' 'Alice Smith'
 'Eve Davis' 'Laura Wilson' 'Emma Thomas' 'Bob Johnson' 'James Anderson']
---------------------
Age [nan '28' 'Twenty-five' '40' '25' '30' '35']
---------------------
Gender ['F' 'M']
---------------------
Salary [ 60000.  70000.  45000.     nan 120000.  55000.  50000.]
---------------------
Address [nan '456 Elm St' '123 Main St' '789 Oak Ave' '222 Pine St']
---------------------
Country ['USA' nan 'Canada' 'Australia' 'UK']
---------------------
Position ['Manager' 'Clerk' 'Intern' 'Developer' 'Analyst']
---------------------
Garbage [nan]
---------------------
Phone Number ['4567890123' '123-456-7890' nan '234-567-8901' '(345) 678-9012'
 '567-890-1234']
---------------------

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,NaN,F,60000.0,NaN,USA,Manager,NaN,4567890123
1,David White,28,F,70000.0,456 Elm St,NaN,Clerk,NaN,123-456-7890
2,Michael Brown,Twenty-five,F,70000.0,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,NaN,M,45000.0,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,NaN,F,NaN,456 Elm St,Australia,Intern,NaN,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.0,123 Main St,Canada,Developer,NaN,567-890-1234
246,Eve Davis,Twenty-five,F,NaN,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.0,123 Main St,NaN,Clerk,NaN,123-456-7890
248,Michael Brown,Twenty-five,M,55000.0,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.0,123 Main St,UK,Clerk,NaN,(345) 678-9012

In [ ]:
df['Age'].replace(['Twenty-five'],25, inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,NaN,F,60000.0,NaN,USA,Manager,NaN,4567890123
1,David White,28,F,70000.0,456 Elm St,NaN,Clerk,NaN,123-456-7890
2,Michael Brown,25,F,70000.0,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,NaN,M,45000.0,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,NaN,F,NaN,456 Elm St,Australia,Intern,NaN,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.0,123 Main St,Canada,Developer,NaN,567-890-1234
246,Eve Davis,25,F,NaN,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.0,123 Main St,NaN,Clerk,NaN,123-456-7890
248,Michael Brown,25,M,55000.0,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.0,123 Main St,UK,Clerk,NaN,(345) 678-9012

In [ ]:
for i in df.columns:
  print(i,df[i].unique())
  print('---------------------')

Name ['Michael Brown' 'David White' 'John Doe' 'Sophia Martinez' 'Alice Smith'
 'Eve Davis' 'Laura Wilson' 'Emma Thomas' 'Bob Johnson' 'James Anderson']
---------------------
Age [nan '28' 25 '40' '25' '30' '35']
---------------------
Gender ['F' 'M']
---------------------
Salary [ 60000.  70000.  45000.     nan 120000.  55000.  50000.]
---------------------
Address [nan '456 Elm St' '123 Main St' '789 Oak Ave' '222 Pine St']
---------------------
Country ['USA' nan 'Canada' 'Australia' 'UK']
---------------------
Position ['Manager' 'Clerk' 'Intern' 'Developer' 'Analyst']
---------------------
Garbage [nan]
---------------------
Phone Number ['4567890123' '123-456-7890' nan '234-567-8901' '(345) 678-9012'
 '567-890-1234']
---------------------

In [ ]:
df.dtypes

Name             object
Age              object
Gender           object
Salary          float64
Address          object
Country          object
Position         object
Garbage         float64
Phone Number     object
dtype: object

In [ ]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [ ]:
df.dtypes

Name             object
Age             float64
Gender           object
Salary          float64
Address          object
Country          object
Position         object
Garbage         float64
Phone Number     object
dtype: object

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [ ]:
df['Salary']=pd.to_numeric(df['Salary'], errors='coerce')

In [ ]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [ ]:
df['Age']=df['Age'].astype(int)

In [ ]:
df['Salary']=df['Salary'].astype(float)

In [ ]:
df.dropna(subset=['Name','Gender'],inplace=True)

In [ ]:
df.columns = df.columns.str.strip()
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,NaN,4567890123
1,David White,28,F,70000.000000,456 Elm St,NaN,Clerk,NaN,123-456-7890
2,Michael Brown,25,F,70000.000000,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,NaN,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,NaN,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,NaN,Clerk,NaN,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,NaN,(345) 678-9012

In [ ]:
df.loc[df['Salary']>100000, 'Salary'] = np.nan

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,NaN,4567890123
1,David White,28,F,70000.000000,456 Elm St,NaN,Clerk,NaN,123-456-7890
2,Michael Brown,25,F,70000.000000,123 Main St,NaN,Manager,NaN,NaN
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,NaN,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,NaN,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,NaN,Clerk,NaN,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,NaN,(345) 678-9012

In [ ]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [ ]:
df['Address'].unique()

array([nan, '456 Elm St', '123 Main St', '789 Oak Ave', '222 Pine St'],
      dtype=object)

In [ ]:
df['Address'] =df['Address'].str.title()

In [ ]:
df['Address'].unique()

array([nan, '456 Elm St', '123 Main St', '789 Oak Ave', '222 Pine St'],
      dtype=object)

In [ ]:
df['Gender']=df['Gender'].str.upper()

In [ ]:
df['Country'].fillna('Unknown', inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Garbage,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,NaN,4567890123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,NaN,123-456-7890
2,Michael Brown,25,F,70000.000000,123 Main St,Unknown,Manager,NaN,NaN
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,NaN,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,NaN,234-567-8901
...,...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,NaN,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,NaN,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,Unknown,Clerk,NaN,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,NaN,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,NaN,(345) 678-9012

In [ ]:
df.drop(columns=['Garbage'], inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,4567890123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890
2,Michael Brown,25,F,70000.000000,123 Main St,Unknown,Manager,NaN
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,234-567-8901
...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,Unknown,Clerk,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,(345) 678-9012

In [ ]:
df['Phone Number'] =df['Phone Number'].str.replace('[^0-9]','',regex=True)
df['Phone Number'] = df['Phone Number'].apply(lambda x: f'{x[:3]}-{x[3:6]}-{x[6:]}' if pd.notnull(x) and len(x)==10 else x )

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890
2,Michael Brown,25,F,70000.000000,123 Main St,Unknown,Manager,NaN
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,234-567-8901
...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,Unknown,Clerk,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,345-678-9012

In [ ]:
df = df[df['Phone Number'].str.match(r'^\d{3}-\d{3}-\d{4}$',na=False)]

In [ ]:
df['Position'] =df['Position'].str.title()

<ipython-input-67-f453a552d819>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Position'] =df['Position'].str.title()

In [ ]:
df.drop_duplicates(inplace=True)

<ipython-input-68-16cdb8520be8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890
3,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901
4,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,234-567-8901
5,David White,40,F,58602.986548,123 Main St,UK,Developer,456-789-0123
...,...,...,...,...,...,...,...,...
245,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,567-890-1234
246,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,567-890-1234
247,Michael Brown,25,F,60000.000000,123 Main St,Unknown,Clerk,123-456-7890
248,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,234-567-8901
249,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,345-678-9012

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890
2,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901
3,Sophia Martinez,28,F,66216.216216,456 Elm St,Australia,Intern,234-567-8901
4,David White,40,F,58602.986548,123 Main St,UK,Developer,456-789-0123
...,...,...,...,...,...,...,...,...
173,Alice Smith,35,F,60000.000000,123 Main St,Canada,Developer,567-890-1234
174,Eve Davis,25,F,66216.216216,456 Elm St,USA,Analyst,567-890-1234
175,Michael Brown,25,F,60000.000000,123 Main St,Unknown,Clerk,123-456-7890
176,Michael Brown,25,M,55000.000000,222 Pine St,Canada,Manager,234-567-8901
177,Bob Johnson,40,F,60000.000000,123 Main St,UK,Clerk,345-678-9012

In [ ]:
df.drop_duplicates(subset=['Phone Number'], keep='first', inplace=True)

<ipython-input-72-ff2dd8e09ff4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['Phone Number'], keep='first', inplace=True)

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890
2,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901
8,Alice Smith,30,M,66216.216216,NaN,Canada,Manager,345-678-9012
9,Eve Davis,28,M,55000.000000,NaN,Australia,Clerk,567-890-1234

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
age_upper_limit=df['Age'].quantile(0.99)
df.loc[df['Age']>age_upper_limit, 'Age'] = age_upper_limit
df

In [ ]:
df['Full Address']=df['Address']+','+df['Country']

<ipython-input-76-e54567075d41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Full Address']=df['Address']+','+df['Country']

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number,Full Address
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123,NaN
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890,"456 Elm St,Unknown"
2,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901,"123 Main St,Canada"
3,Alice Smith,30,M,66216.216216,NaN,Canada,Manager,345-678-9012,NaN
4,Eve Davis,28,M,55000.000000,NaN,Australia,Clerk,567-890-1234,NaN

In [ ]:
df = df[['Name','Age','Gender','Salary','Address','Country','Position','Phone Number','Full Address']]

In [ ]:
df

,Name,Age,Gender,Salary,Address,Country,Position,Phone Number,Full Address
0,Michael Brown,28,F,60000.000000,NaN,USA,Manager,456-789-0123,NaN
1,David White,28,F,70000.000000,456 Elm St,Unknown,Clerk,123-456-7890,"456 Elm St,Unknown"
2,John Doe,28,M,45000.000000,123 Main St,Canada,Clerk,234-567-8901,"123 Main St,Canada"
3,Alice Smith,30,M,66216.216216,NaN,Canada,Manager,345-678-9012,NaN
4,Eve Davis,28,M,55000.000000,NaN,Australia,Clerk,567-890-1234,NaN